<div flex layout="horizontal">
    <div layout-align="start center" layout="horizontal" flex="50">
        <div flex="20" class="m-10">
            <img src="../images/tardelli.png" class="color-bg-1 img-circle img-responsive ">
        </div>
        <div flex="80" >
            <label class="color-1 s-130 m-5">
                Diego Tardelli
            </label>
            <span class="color-1 glyphicon glyphicon-chevron-up m-20"></span>
        </div>
    </div>
    <div layout-align="start center" layout="horizontal" flex="50">
        <div flex="20" class="m-10">
            <img src="../images/galo.png" class="img-responsive" >
        </div>
        <div flex="80">
            <label class="color-1 s-130 m-5 ">
                Atlético Mineiro Sub-20
            </label>
            <span class="color-1 glyphicon glyphicon-chevron-up m-20"></span>
        </div>
    </div>
</div>