<div style="float:left;width:100%;overflow-y:scroll;">
<div class="row">
    <div class="page-title col-md-4" > 
        <i class="icon-custom-left"></i>
        <h2 translate="{{session.menu.modules[0].description}}.title">Module </h2><small></small>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" id="member-finder" class="form-control" placeholder="Search a member...">
                    </div>
                    <div class="col-md-8 align-right m-t-10">
                        <a href="#" class="m-l-10 m-r-5">Filter By</a> 
                        <span class="c-gray-light">/</span> 
                        <a href="#" class="m-l-10 m-r-5">Date</a> 
                        <span class="c-gray-light">/</span> 
                        <a href="#" class="m-l-5 m-r-5">Name</a> 
                        <span class="c-gray-light">/</span> 
                        <a href="#" class="c-blue m-l-5">City</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-4 member-entry" ng-repeat="data in allPersonData">
                        <div class="row member"  style="min-height:120px;">
                            <div class="col-xs-3"  style="cursor:pointer" ng-click='view(data._id)'>
                                <avatar module="person" photo="{{data._id}}" scale="auto" class="pull-left img-responsive">
                                </avatar>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="m-t-0 member-name" style="cursor:pointer" ng-click='viewPerson(data._id)'>
                                    <strong>
                                        <span ng-bind="data.attributes.person_data.name" style="font-size:24px;">
                                    </strong>
                                </h3>
                                <div class="pull-left">
                                    <p>
                                        <i class="fa fa-envelope-o c-gray-light p-r-10"></i>
                                        <span ng-bind="data.attributes.person_data.gender">
                                    </p>
                                    <p>
                                        <i class="fa fa-facebook c-gray-light p-r-10"></i>
                                        <span ng-bind="data.attributes.person_data.cpf">
                                    </p>
                                </div>
                                <div class="pull-right align-right">
                                    <p>
                                        <i class="fa fa-calendar c-gray-light p-r-10"></i>
                                        <span ng-bind="data.attributes.person_data.birth_date">
                                    </p>
                                    <p>
                                        <i class="fa fa-map-marker c-gray-light p-r-10"></i>
                                        <span ng-bind="data.attributes.person_data.city">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 member-entry" ng-repeat="data in allCompanyData">
                        <div class="row member"  style="min-height:120px;">
                            <div class="col-xs-3"  style="cursor:pointer" ng-click='view(data._id)'>
                                <avatar module="company" photo="{{data._id}}" scale="auto" class="pull-left img-responsive">
                                </avatar>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="m-t-0 member-name" style="cursor:pointer" ng-click='viewCompany(data._id)'>
                                    <strong>
                                        <span style="font-size:24px;" ng-bind="data.attributes.company_data.name">
                                    </strong>
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="m-t-30 align-center">
                    <ul class="pagination">
                        <li><span><i class="fa fa-angle-left c-gray-light"></i></span></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>